<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
</head>
<style type="text/css">
	.show-transition {
		transition: all 1s ease;
		width: 100px;
		height: 100px;
		background: black;
		opacity: 1;
	}
	.show-enter, .show-leave{  height: 0px;
 opacity: 0;
}
</style>
<body>
	<div id="app">
		<button @click="alertMessage">alertMessage</button>
		<message ref="message" content="hello world"></message>
	</div>
	<div id="app2">
		<h1>{{message2 | toUpper}}</h1>
		<input type="text" v-model="message2" />
		<label><input type="radio" value="male" v-model="gender">male</label>
		<label><input type="radio" value="female" v-model="gender">female</label>
		<input type="checkbox" v-model="checked" />

		<label><input type="checkbox" value="1" v-model=" multiChecked">1</lable>
		<label><input type="checkbox" value="2" v-model=" multiChecked">2</lable>
		<label><input type="checkbox" value="3" v-model=" multiChecked">3</lable>

		<p>MultiChecked: {{ multiChecked.join('|') }}</p>

		<select v-model="selected">
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<span>Selected: {{ selected }}</span>

		<select v-model="multiSelected" multiple>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<br>
		<span>MultiSelected: {{ multiSelected.join('|') }}</span>

		<!-- transition -->
		<transition name="show">
		  <div v-if="show" style="border: 1px solide pink;"></div>
		</transition>

		<!-- 绑定value -->
		<input type="checkbox" v-model="checked" :true-value="a" :false-value="b"/>
		<input type="radio" value="female" v-model="checked" :value="a">
		<select v-model="selectedObj">
		  <!-- 对象字面量 -->
		  <option v-bind:value="{ number: 123 }">123</option>
		  <option v-bind:value="{ number: 234 }">234</option>
		</select>

		<input v-model="query" placeholder="query"/>
		<p v-my-directive="query">query: {{query | toUpper}}</p>

		<input v-model.number="age" placeholder="age"/>
		<p>age: {{age}}</p>

		<p>checked: {{checked}}</p>

		<ul>
		  <li v-for="item in items">
			  <h3>{{item.title}}</h3>
			  <p>{{item.description}}</p>
		  </li>
		</ul>

		<p>{{price}}</p>
		<p>{{ firstName }}</p>
		<p>{{ lastName }}</p>
		<p>{{ fullName }}</p>
		<button v-on:click="_console">console</button>
		<!-- 内联方式 -->
		<button @click.stop="sayFrom ('from first')">内联方式</button>
		<!-- 获取原生事件对象 -->
		<button @click.prevent="showEvent($event)">获取原生事件对象</button>
		<!-- 按键修饰符 -->
		<input v-on:keyup.13="sayFrom ('keyup')" >
	</div>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script>
		Vue.filter('toUpper', function (value) {
				value.toUpperCase()
		})
		Vue.directive('my-directive', {
			params : ['a'],
			bind: function () {
				console.log('directive-bind', arguments)
				console.log('params', this.params);
				console.log('~~~~~~~~~~~bind~~~~~~~~~~~~~');
			},
			inserted: function () {
				console.log('directive-inserted', arguments)
			},
			update: function () {
				console.log('directive-update', arguments)
			},
			componentUpdated: function () {
				console.log('directive-componentUpdated', arguments)
			},
			unbind: function () {
				console.log('directive-unbind', arguments)
			}
		})
		var Message = Vue.extend({
			props: ['content'],
			template: '<h1>{{content}}</h1>'
		});
		Vue.component('message', Message);
		var vm = new Vue({
			el: "#app",
			methods: {
				alertMessage: function () {
					console.log('alertMessage', this.$refs);
				}
			}
		});
		var vm2 = new Vue({
			el: "#app2",
			data: {
				message2: 'hello_world.html',
				firstName: 'firstName',
				lastName: 'lastName',
				cents: 10,
				gender: '',
				checked: '',
				multiChecked: [],
				selected: '',
				multiSelected: [],
				a: "hello-a",
				b: false,
				selectedObj: '',
				query: "",
				age: '',
				show: false,
				items : [
				    { title : 'title-1', description : 'description-1'},
				    { title : 'title-2', description : 'description-2'}   ],
			},
			computed: {
				fullName: function () {
					return this.firstName + this.lastName;
				},
				price: {
					set: function (newValue) {
						this.cents = newValue * 100;
					},
					get: function () {
						return (this.cents / 100).toFixed(2);
					}
				}
			},
			methods: {
				_console: function(e) {
					console.log('btn', this.message2);
				},
				sayFrom: function (from) {
					console.log('sayFrom + from', from );
				},
				showEvent: function (event) {
					console.log('showEvent', event, event.target);
				}
			},
			created: function () {
				console.log('created');
			},
			beforeMount: function () {
				console.log('beforeMount');
			},
			mounted: function () {
				console.log('mounted');
			},
			/**
			 * 在实例挂载之后,再次更新实例(例如更新data)时会调用该方法
			 */
			beforeUpdate: function () {
				console.log('beforeUpdate');
			},
			/**
			 * 在实例挂载之后,再次更新实例并更新完 DOM 结构后调用。
			 */
			updated: function () {
				console.log('updated');
			},
			/**
			 * 需要配合动态组件 keep-live 属性使用。在动态组件初始化渲染的过程中调用该方法
			 */
			activated: function () {
				console.log('activated');
			},
			/**
			 * 需要配合动态组件 keep-live 属性使用。在动 态组件移出的过程中调用该方法
			 */
			deactivated: function () {
				console.log('deactivated');
			}
		});
	</script>
</body>
</html>